.Menu {
  width: 90%;
  margin: 50px auto 0 auto;
}

.Menu li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.Menu li:hover {

  box-shadow: 1px 1px 1px 1px black;
}

.Menu h4, .Menu h6 {
  color: rgb(174, 0, 0);
}

.spinner * {
  transform: scale(5)
}

.spinner {
  text-align: center;
  padding: 30px;
  padding-top: 200px;
}

.MenuList {
  overflow-y: scroll;
  height: 85vh;
}